<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar class="new-background-color">
      <ion-title class="ion-text-center" style="color: white;">
        <strong>HOJA DE VIDA</strong>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content  style="--ion-background-color: #2C2C2C;">

    <ion-item >
      <ion-img  style="width: 150px; height: 250px; margin-left: 30%;" src="assets/images/eddy.jpg"></ion-img>
    </ion-item>

    <ion-item color="primary">DATOS PERSONALES</ion-item>
    <p class="ion-padding-start" style="color: white;"><strong>Nombre:</strong> Hipo Caiza Eddy Paul</p>
    <p class="ion-padding-start" style="color: white;"><strong>Edad: </strong>21</p>
    <p class="ion-padding-start" style="color: white;"><strong>Dirección: </strong>La Ferroviaria</p>
    <p class="ion-padding-start" style="color: white;"><strong>Celular: </strong>0992722138</p>

    <ion-item color="primary">ESTUDIOS</ion-item>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../assets/images/EPN.png">
        </ion-avatar>
        <ion-label>
          <h2 style="color: white;">Escuela Politécnica Nacional (EPN)</h2>
          <h3 style="color: white;">Tecnología Superior en Desarrollo de Software</h3>
          <p style="color: white;">Quito - Ecuador 2021</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../assets/images/cinco.jpg">
        </ion-avatar>
        <ion-label>
          <h2 style="color: white;">Colegio Cinco de Junio</h2>
          <h3 style="color: white;">Técnico De Servicios en Aplicaciones Informáticas</h3>
          <p style="color: white;">Quito - Ecuador 2017</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-item color="primary">IDIOMAS</ion-item>
    <p style="color: white;" class="ion-padding-start"><strong>Natal: </strong>Español</p>
    <p style="color: white;" class="ion-padding-start"><strong>Inglés: </strong>Avanzado</p>

    <ion-item color="primary">EXPERIENCIA LABORAL</ion-item>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../assets/images/fiscalia.jpg">
        </ion-avatar>
        <ion-label>
          <h2 style="color: white;">Fiscalía General de Pichincha (FGE)</h2>
          <h3 style="color: white;">Pasante en Tencología</h3>
          <p style="color: white;">De 01/07/2016 a 31/08/2016</p>
        </ion-label>
      </ion-item>
    </ion-list>


    <ion-item color="primary">FORMACIONES ADICIONALES</ion-item>
    <p class="ion-text-justify" style="color:white; font-size: 14px; padding-left: 15px; padding-right: 15px;"><strong>Proyecto del Ministerio de Educación en conjunto con la Escuela Politécnica Nacional para la capacitación en herramientas digitales a docentes del Ecuador </strong></p>
    <p ion-text-justify style="color:white; font-size: 12px; padding-left: 15px; padding-right: 15px;"><strong>Cargo: </strong>Capacitador en proyecto de vinculación sociedad</p>

    <ion-item color="primary">INTERESES</ion-item>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../assets/images/basquet.jpg">
        </ion-avatar>
        <ion-label>
          <h1 style="color: white;">Basquetbal</h1>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../assets/images/lectura.jpg">
        </ion-avatar>
        <ion-label>
          <h1 style="color: white;">Lectura</h1>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-app>